aniso8601==7.0.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
boto==2.49.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorclass==2.2.0
coverage==4.5.4
decorator==4.4.0
Django==2.2.21
docopt==0.6.2
Flask==1.1.1
Flask-JWT-Extended==3.21.0
Flask-RESTful==0.3.7
gunicorn==19.9.0
idna==2.8
ipython==7.7.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
nose==1.3.7
packaging==19.1
parso==0.5.1
passlib==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
pip-tools==4.0.0
pip-upgrader==1.4.15
pluggy==0.12.0
prompt-toolkit==2.0.9
psycopg2-binary==2.8.3
ptyprocess==0.6.0
py==1.8.0
Pygments==2.4.2
PyJWT==1.7.1
pylint==2.3.1
pyparsing==2.4.2
python-dotenv==0.10.3
pytz==2019.2
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
svgwrite==1.3.1
terminaltables==3.1.0
traitlets==4.3.2
Tree==0.2.4
typed-ast==1.4.0
urllib3==1.25.3
wcwidth==0.1.7
Werkzeug==0.15.5
wrapt==1.11.2
